{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="Stylesheet" type="text/css" href="{% get_static_prefix %}css.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<title>Maansi Collection</title>
<!-- Bootstrap core CSS -->
<link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{% get_static_prefix %}bootstrap/css/bootstrap.min.js" rel="stylesheet">
<title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %} {{ site_name }}{% endblock %}</title>
<meta name="keywords" content="{{ meta_keywords }}" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<!-- include Cycle plugin -->
<script type="text/javascript" src="{% get_static_prefix %}jquery.cycle.all.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
       $('.pics').cycle({
           fx:    'curtainX',
           sync:  false,
           delay: -2000
        });
    });
    setInterval(function(){ $('blink').each( function(){ $(this).css('visibility' , $(this).css('visibility') === 'hidden' ? '' : 'hidden') } ); }, 700);
</script>
</head>
<body>
{% block site_wrapper %}{% endblock %}
</body>
</html>