{% extends "catalog.html" %}
{% load static %}
{%block content %}
<div class="pics">
        <img src="{% get_static_prefix %}maansi1.jpg" width="690" height="270" alt="" title=""/>
        <img src="{% get_static_prefix %}maansi2.jpg" width="690" height="270" />
</div><br>
<h1>Welcome to Maansi Collection!</h1>
<h3>Description</h3>

<p>
<ul style='margin-left:2em'>
    <li>Full Range of Frock Suit</li>
    <li>Salwar Suit</li>
    <li>Chudidaar Suit</li>
    <li>Bandhani Suits & Fancy Kurtis</li>
    <li>Matching salwars and duppatas available</li>
    <li>Salwar Suit 20 size to 2*L size are available</li>
</ul>
<br><br>
NET PRICE SHOP<br>
Working Hours: 11 AM to 10 PM<br><br>
email: maansicollection@gmail.com
</p>

{% endblock %}